
*
{
	border: none;
	padding:0;
	margin:0;
}


body
{
	font-size: 16px;
	font-family: 'Arial', helvetica, sans-serif;
}

h2
{
	color:	#0000ff;
}

h3
{
	color:#dc143c;
	padding-bottom: 10px;
}

.bar
{
	background-color: #6495ed;
	height: 30px;
	color:white;
	text-align: center;
	padding-top:10px;
}

.container 
{
	margin: 0 auto;
	padding: 20px;
}

.head
{
	text-align: center;
}

.sec
{
	display:flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
}

.flex
{
	display: flex;
	flex-direction: row;
}

.argument
{
	padding:30px;
}

.hidden 
{
	display:none;
}

.data-graphic
{
	border:thin dashed blue;
	width:70%;
}




